<ion-view view-title="Pakete">
  <ion-content>
    <div class="list card as-package" ng-repeat="package in packages">
      <ion-item type="item-text-wrap" href="#/tab/package/{{package.id}}">
        <div class='card--header'>{{package.name}}</div>
        <div class='card--content'>
          <div class='card--content--address'>
            <b>{{package.start_city}}</b>
            <br>
            {{package.start_street}}
          </div>
          <div class='card--content--address'>
            <b>{{package.end_city}}</b>
            <br>
            {{package.end_street}}
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
